@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
body
{
  background-color: #09310c;
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
  color:  white;
}

.center
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
}

.center-register form input 
{
    display: block;
    width: 324px;
    height: 50px;
}

#submit
{
    display: inline;
    background-color: #E4FF77;
    border: 2px solid transparent;
}