@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
body
{
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
  color:  white;
}
.image
{
    height: 200px;
    width: 200px;
    
}
.image-center
{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.image-center-align
{
    padding-top: 0%;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-align
{
    display: flex;
    flex-direction: column;
}
button
{
    margin-top: 10px;
    background-color: #88B18C;
    color: black;
    border: 2px solid transparent;
}