@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
body
{
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
  color: black;
}
.image
{
    height: 250px;
    width: 250px;
    
}
.image-center
{
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.image-center-align
{
    padding-top: 0%;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-align
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
button
{
    margin-top: 10px;
    background-color: #88B18C;
    color: black;
    border: 2px solid transparent;
}
footer
{
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-evenly;
  text-align: justify;
  color: black;
}
.footerStyle
{
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}

h4
{
  margin: 0%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
button
{
  cursor:pointer
}

.UL-Design
{
  display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 0;
    justify-content: space-between;
}

.LI-Design
{
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.LI-Design-Center
{
  display: flex;
}

.centered
{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.add-to-cart-style
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

h3
{
  margin-top: 0px;
  margin-bottom: 0px;
}