@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
body
{
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
  color:  white;
}
.big-image
{
    background-color: white;
    display: flex;
    height: 400px;
    width: 90%;
    /* border: 2px solid red; */
    justify-content: center;
}
.center-big-image
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.medium-image
{
    height: 400px;
    width: 400px;
}
.medium-image-center
{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
footer
{
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-evenly;
  text-align: justify;
  color: black;
}
.footerStyle
{
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}