header
{
    display: flex;
    height: 50px;
    justify-content: space-between;
    background-color: #09310c;
}
.taskbar
{
    display: flex;
    width: 300px;
    justify-content: space-between;
    color: white;
}
a:-webkit-any-link {
    color: white;
    text-decoration: none;
}