<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/taskbar.css" type="text/css" media="all">
    <link rel="stylesheet" href="static/drinksstyle.css" type="text/css" media="all">
    <link rel="stylesheet" href="static/cartstyle.css" type="text/css" media="all">
    <link rel="stylesheet" href="static/checkout.css" type="text/css" media="all">
    <title>Coffee Shop</title>
    <!-- Include any additional CSS or JavaScript libraries here -->
</head>
<body>
    <header>
        <div style="display: flex;justify-content: center;width: 100%;;">
            <div style="width: 90%;display: flex;justify-content: space-between;">
                <div class="taskbar">
                    <h3 class="drink-taskbar-style"><a href="/home">Home</a></h3>
                    <h3 class="drink-taskbar-style"><a href="/DrinkMenu">Drinks</a></h3>
                </div>
                <div></div>
                <div class="taskbar">
                    <h3 class="drink-taskbar-style" style="cursor:pointer" onclick="openNav()">Cart</h3>
                    <h3 class="drink-taskbar-style"><a href="/settings">Profile</a></h3>
                </div>
            </div>
        </div>
    </header>
 
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Include any additional scripts here -->
</body>
</html>