{% extends 'base.html' %}

{% block content %}
    <h2>Cart</h2>
    <ul>
        {% for order in orders %}
            <li>{{ order['coffee_name'] }} - ${{ order['price'] }} - Amount: {{ order['amount'] }} - Total: ${{ order['total_cost'] }}</li>
        {% endfor %}
    </ul>
    <p>Total Cost: ${{ total_cost }}</p>
    
    <form action="/place_order" method="post">
        <input type="submit" value="Place Order">
    </form>

    <button id="toggleCartBtn">Toggle Cart</button>

    <div id="cartContent" style="display: none;">
        <!-- Cart content goes here -->
        <ul>
            {% for order in orders %}
                <li>{{ order['coffee_name'] }} - ${{ order['price'] }} - Amount: {{ order['amount'] }} - Total: ${{ order['total_cost'] }}</li>
            {% endfor %}
        </ul>
        <p>Total Cost: ${{ total_cost }}</p>
    </div>

    <script>
        // Add JavaScript to toggle the cart content visibility
        document.addEventListener('DOMContentLoaded', function () {
            var toggleCartBtn = document.getElementById('toggleCartBtn');
            var cartContent = document.getElementById('cartContent');

            toggleCartBtn.addEventListener('click', function() {
                if (cartContent.style.display === 'none') {
                    cartContent.style.display = 'block';
                } else {
                    cartContent.style.display = 'none';
                }
            });
        });
    </script>
{% endblock %}
