{% extends 'base.html' %}

{% block content %}

<h1 style=" position: absolute; top: 0; right: 0; opacity: 0%; height: 0%; width: 0%; margin: 0%; padding: 0%;" id="counter">Counter: {{ session_data.counter }}</h1>

<script>
    function updateCounter() {
        // Fetch updated data from the server
        fetch('http://127.0.0.1:5000/get_data')
            .then(response => response.json())
            .then(data => {
                // Update the HTML content
                document.getElementById('counter').innerText = 'Counter: ' + data.counter;

                // Update the cart content
                fetch('http://127.0.0.1:5000/get_cart_data')
                    .then(response => response.json())
                    .then(cartData => {
                        updateCart(cartData);
                    })
            })
    }

    function updateCart(cartData) {
        var myNav = document.getElementById('myNav');
        var cartContent = myNav.querySelector('.overlay-content');

        // Clear existing cart content
        cartContent.innerHTML = '';

        // Update cart content with the new data
        var cartList = document.createElement('ul');
        cartData.cart.forEach(order => {
            var li = document.createElement('li');
            li.textContent = `${order.coffee_name} - $${order.price} - Amount: ${order.amount}`;
            cartList.appendChild(li);
        });

        var totalCost = document.createElement('p');
        totalCost.textContent = `Total Cost: $${cartData.total_cost}`;

        var placeOrderForm = document.createElement('form');
        placeOrderForm.action = '/place_order';
        placeOrderForm.method = 'post';
        var submitButton = document.createElement('input');
        submitButton.type = 'submit';
        submitButton.value = 'Place Order';
        placeOrderForm.appendChild(submitButton);

        cartContent.appendChild(cartList);
        cartContent.appendChild(totalCost);
        cartContent.appendChild(placeOrderForm);
    }

    // Periodically update the counter and cart
    setInterval(updateCounter, 1000); // Update every 1 second
</script>



    <div>
        <div class="image-center-align">
            <div style="display: flex; width: 90%;">
                <h3 style="margin-top: 10px; margin-bottom: 0px;">Popular drinks</h3>
            </div>
            <div class="image-center">
                <ul class="UL-Design">
                    {% for item in menu %}
                        {% if item.popular == True %}
                        <div class="button-align">
                            <li class="LI-Design">
                                <img class="image" src="{{ item.image }}" alt="">
                                <form class="add-to-cart-form">
                                    <div class="add-to-cart-style">
                                        <input type="hidden" name="coffee_name" value="{{ item.name }}">
                                        <input type="hidden" name="price" value="{{ item.price }}">
                                        <span><strong>{{ item.name }}</strong> - ${{ item.price }}</span>
                                        <span>
                                            <label for="amount">Amount:</label>
                                            <input style="width: 50px;" type="number" name="amount" value="1" min="1">
                                        </span>
                                        
                                        <button type="button" class="add-to-cart-btn">Add to Cart</button>    
                                    </div>
                                </form>
                            </li>
                        </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div>
        <div class="image-center-align">
            <div style="display: flex; width: 90%;">
                <h3 style="margin-bottom: 0px;">Hot Coffee drinks</h3>
            </div>
            <div class="image-center">
                <ul class="UL-Design">
                    {% for item in menu %}
                    {% if item.type == 'coffee' %}
                    <div class="button-align">
                        <li class="LI-Design">
                            <img class="image" src="{{ item.image }}" alt="">
                            <form class="add-to-cart-form">
                                <div class="add-to-cart-style">
                                    <input type="hidden" name="coffee_name" value="{{ item.name }}">
                                    <input type="hidden" name="price" value="{{ item.price }}">
                                    <span><strong>{{ item.name }}</strong> - ${{ item.price }}</span>
                                    <span>
                                        <label for="amount">Amount:</label>
                                        <input style="width: 50px;" type="number" name="amount" value="1" min="1">
                                    </span>
                                    
                                    <button type="button" class="add-to-cart-btn">Add to Cart</button>    
                                </div>
                            </form>
                        </li>
                    </div>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
    <div>
        <div class="image-center-align">
            <div style="display: flex; width: 90%;">
                <h3 style="margin-bottom: 0px;">Chcolate drinks</h3>
            </div>
            <div class="image-center">
                <ul class="UL-Design">
                    {% for item in menu %}
                    {% if item.type == 'chocolate' %}
                    <div class="button-align">
                        <li class="LI-Design">
                            <img class="image" src="{{ item.image }}" alt="">
                            <form class="add-to-cart-form">
                                <div class="add-to-cart-style">
                                    <input type="hidden" name="coffee_name" value="{{ item.name }}">
                                    <input type="hidden" name="price" value="{{ item.price }}">
                                    <span><strong>{{ item.name }}</strong> - ${{ item.price }}</span>
                                    <span>
                                        <label for="amount">Amount:</label>
                                        <input style="width: 50px;" type="number" name="amount" value="1" min="1">
                                    </span>
                                    
                                    <button type="button" class="add-to-cart-btn">Add to Cart</button>    
                                </div>
                            </form>
                        </li>
                    </div>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div>
        <div class="image-center-align">
            <div style="display: flex; width: 90%;">
                <h3 style="margin-bottom: 0px;">Tea drinks</h3>
            </div>
            <div class="image-center">
                <ul class="UL-Design">
                    {% for item in menu %}
                    {% if item.type == 'tea' %}
                    <div class="button-align">
                        <li class="LI-Design">
                            <img class="image" src="{{ item.image }}" alt="">
                            <form class="add-to-cart-form">
                                <div class="add-to-cart-style">
                                    <input type="hidden" name="coffee_name" value="{{ item.name }}">
                                    <input type="hidden" name="price" value="{{ item.price }}">
                                    <span><strong>{{ item.name }}</strong> - ${{ item.price }}</span>
                                    <span>
                                        <label for="amount">Amount:</label>
                                        <input style="width: 50px;" type="number" name="amount" value="1" min="1">
                                    </span>
                                    
                                    <button type="button" class="add-to-cart-btn">Add to Cart</button>    
                                </div>
                            </form>
                        </li>
                    </div>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div>
        <div class="image-center-align">
            <div style="display: flex; width: 90%;">
                <h3 style="margin-bottom: 0px;">Cold drinks</h3>
            </div>
            <div class="image-center">
                <ul class="UL-Design">
                    {% for item in menu %}
                    {% if item.type == 'cold' %}
                    <div class="button-align">
                        <li class="LI-Design">
                            <img class="image" src="{{ item.image }}" alt="">
                            <form class="add-to-cart-form">
                                <div class="add-to-cart-style">
                                    <input type="hidden" name="coffee_name" value="{{ item.name }}">
                                    <input type="hidden" name="price" value="{{ item.price }}">
                                    <span><strong>{{ item.name }}</strong> - ${{ item.price }}</span>
                                    <span>
                                        <label for="amount">Amount:</label>
                                        <input style="width: 50px;" type="number" name="amount" value="1" min="1">
                                    </span>
                                    
                                    <button type="button" class="add-to-cart-btn">Add to Cart</button>    
                                </div>
                            </form>
                        </li>
                    </div>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div id="myNav" class="overlay" style="height: 0%;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <!-- -->
            <h2 style="color: white;">Cart</h2>
            <ul>
                {% for order in orders %}
                    <li style="color: white;">{{ order['coffee_name'] }} - ${{ order['price'] }} - Amount: {{ order['amount'] }}</li>
                {% endfor %}
            </ul>
            <p style="color: white;">Total Cost: ${{ total_cost }}</p>
            
            <form action="/place_order" method="post">
                <input type="submit" value="Place Order">
            </form>
        
            <!-- -->
            </div>
        </div>
    </div>


    <script>
        // Add JavaScript to handle adding items to the cart using AJAX
        document.addEventListener('DOMContentLoaded', function () {
    var addToCartButtons = document.querySelectorAll('.add-to-cart-btn');

    addToCartButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            var form = this.closest('.add-to-cart-form');
            var formData = {
                coffee_name: form.querySelector('[name="coffee_name"]').value,
                price: form.querySelector('[name="price"]').value,
                amount: form.querySelector('[name="amount"]').value
            };

            console.log('FormData:', formData);

            fetch('/add_to_cart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData),
            })
            // .then(response => response.json())
            // .then(data => {
            //     console.log('Response:', data);
            //     alert(data.message);
            // })
        });
    });
});
    </script>
    <script src="static/addToOrder.js"></script>
{% endblock %}
