<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks</title>
    <!-- <link rel="stylesheet" href="static/style.css" type="text/css" media="all"> -->
    <link rel="stylesheet" href="static/taskbar.css" type="text/css" media="all">
    <link rel="stylesheet" href="static/drinksstyle.css" type="text/css" media="all">
    <link rel="stylesheet" href="static/cartstyle.css" type="text/css" media="all">
</head>
<body>
    <!-- Header icons which directs the user to different pages -->
    <header>
        <div style="display: flex;justify-content: center;width: 100%;;">
            <div style="width: 90%;display: flex;justify-content: space-between;">
                <div class="taskbar">
                    <h3><a href="/home">Home</a></h3>
                    <h3><a href="/drinks">Drinks</a></h3>
                </div>
                <div></div>
                <div class="taskbar">
                    <h3 style="cursor:pointer" onclick="openNav()">Cart</h3>
                    <h3><a href="/settings">Profile</a></h3>
                </div>
            </div>
        </div>
    </header>
   <!-- Displays the popular drinks -->
    <div>
        <div class="image-center-align">
            <div style="display: flex; width: 90%;">
                <h3 style="margin-bottom: 0px;">Popular drinks</h3>
            </div>
            <div class="image-center">
                {% for item in menu %}
                    {% if item.popular == True %}
                    <div class="button-align">
                        <h4>{{ item.name }}</h4>
                        <img class="image" src="static/coffee.jpeg" alt="">
                        <button onclick="addToCart('{{ item.name }}', {{ item.price }})">Add to order</button>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
 <!-- Displays all other drinks -->
        <div class="image-center-align">
            <div style="display: flex; width: 90%;">
                <h3 style="margin-bottom: 0px;">All Drinks</h3>
            </div>
            <div class="image-center">
                {% for item in menu %}
                    <div class="button-align">
                        <h4>{{ item.name }}</h4>
                        <img class="image" src="static/coffee.jpeg" alt="">
                        <button onclick="addToCart('{{ item.name }}', {{ item.price }})">Add to order</button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
 <!-- Displays the cart and all of it's contents -->
    <div id="myNav" class="overlay" style="height: 0%;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            
                <form action="/get_email" method="post">
                    <div style="color: white;">
                        <h2>Cart:</h2>
                        <div id="cart"></div>
                        <div id="totalPrice">Total: $0.00</div>
                    </div>
                    <input type="submit" value="Place Order">
                </form>
            </div>
        </div>
    </div>
     <!-- Footer -->
    <hr style="margin-top: 20px;">
    <footer>
        <div class="footerStyle">
          <div class="contact">
            <div>
              Conatact Information
            </div>
            <div>
              <!-- Email: rasmus.nordberg@icloud.com -->
            </div>
          </div>
          <div class="link">
            <div>
              Links
            </div>
          </div>
        </div>
      </footer>

    <script src="static/addToOrder.js"></script>
</body>
</html>