<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="static/taskbar.css" type="text/css" media="all">
</head> 
<body>
    <header>
        <div class="taskbar">
            <h3><a href="/home">Home</a></h3>
            <h3><a href="/drinks">Drinks</a></h3>
        </div>
        <div></div>
        <div class="taskbar">
            <h3>Cart</h3>
            <h3>Settings</h3>
        </div>
        
    </header>
    
    <div class="Menu">
        <h2>Menu:</h2>
        <ul>
            {% for item in menu %}
                <li>
                    {{ item.name }} - ${{ item.price }}
                </li>
            {% endfor %}
        </ul>
        <h2>Place an order:</h2>
        <form action="/order" method="post">
            <label for="coffee_id">Coffee:</label>
            <select name="coffee_id" id="coffee_id">
                {% for item in menu %}
                    <option value="{{ item.ID }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="amount">amount</label>
            <input type="number" name="amount", id="amount" min="1", value="1">
            <br>
            <input type="submit" value="Place Order">
        </form>
    </div>
    
</body>
</html>