<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="static/style.css" type="text/css" media="all"> -->
    <link rel="stylesheet" href="static/taskbar.css" type="text/css" media="all">
    <link rel="stylesheet" href="static/homestyle.css" type="text/css" media="all">
</head> 
<body>
  <header>
    <div style="display: flex;justify-content: center;width: 100%;;">
        <div style="width: 90%;display: flex;justify-content: space-between;">
            <div class="taskbar">
                <h3><a href="/home">Home</a></h3>
                <h3><a href="/drinks">Drinks</a></h3>
            </div>
            <div></div>
            <div class="taskbar">
                <h3 style="cursor:pointer" onclick="openNav()">Cart</h3>
                <h3><a href="/settings">Profile</a></h3>
            </div>
        </div>
    </div>
</header>
    
    <div class="center-big-image">
        <div class="big-image">
            <img src="static/coffee.jpeg" alt="">
        </div>
    </div>

    <div style="display: flex; justify-content: center;">
        <div class="medium-image-center">
            <img class="medium-image" src="static/coffee.jpeg" alt="">
            <img class="medium-image" src="static/coffee.jpeg" alt="">
            <img class="medium-image" src="static/coffee.jpeg" alt="">
        </div>
    </div>
    <hr style="margin-top: 20px;">
    <footer>
        <div class="footerStyle">
          <div class="contact">
            <div>
              Conatact Information
            </div>
            <div>
              <!-- Email: rasmus.nordberg@icloud.com -->
            </div>
          </div>
          <div class="link">
            <div>
              Links
            </div>
          </div>
        </div>
      </footer>
</body>
</html>