<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="static/taskbar.css" type="text/css" media="all">
    <link rel="stylesheet" href="static/homestyle.css" type="text/css" media="all">
</head> 
<body>
    <header>
        <div class="taskbar">
            <h3><a href="/home">Home</a></h3>
            <h3><a href="/drinks">Drinks</a></h3>
        </div>
        <div></div>
        <div class="taskbar">
            <h3>Cart</h3>
            <h3>Settings</h3>
        </div>
    </header>
    
    <div class="center-big-image">
        <div class="big-image">
            <img src="static/coffee.jpeg" alt="">
        </div>
    </div>

    <div style="display: flex; justify-content: center;">
        <div class="medium-image-center">
            <img class="medium-image" src="static/coffee.jpeg" alt="">
            <img class="medium-image" src="static/coffee.jpeg" alt="">
            <img class="medium-image" src="static/coffee.jpeg" alt="">
        </div>
    </div>
    
</body>
</html>