<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css" type="text/css" media="all">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="Login">
        <form action="/" method="post">
            <label for="username"></label>
            <input type="text" id="username" name="username" required placeholder="Username">
            <br>
            <label for="password"></label>
            <input type="text" id="password" name="password" required placeholder="Password">
            <br>
            <input type="submit" value="Login">
        </form>  
        <form class="regButton" action="/create_account">
            <input type="submit" value="Sign Up">
        </form>
    </div>
    
</body>
</html>