{% extends 'base.html' %}

{% block content %}


<div class="center">
    <h1>Order Confirmation</h1>
    <div class="center-info">
        <ul style="font-size: 30px;">
            {% for order in orders %}
                <li>{{ order['coffee_name'] }} - ${{ order['price'] }} - Amount: {{ order['amount'] }}</li>
            {% endfor %}
        </ul>
        <p style="font-size: 30px;" id="totalCost"></p>
        <p style="font-size: 30px;">Thank you for your order!</p>
    </div>
    <form action="/home">
        <input type="submit" value="Go Back">
    </form>
</div>
    
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var orders = {{ orders | tojson }};
            var totalCost = 0;

            for (var i = 0; i < orders.length; i++) {
                totalCost += orders[i]['price'] * orders[i]['amount'];
            }

            document.getElementById('totalCost').textContent = "Total Cost: $" + totalCost.toFixed(2);
        });
    </script>

{% endblock %}
