<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="static/style.css" type="text/css" media="all"> -->
</head>
<body>
    <h1>Order Summary:</h1>
    <p>Coffee:</p>
    <p>amount: </p>
    <p>Total Price:</p>
    <h2>Confirm Order:</h2>
    <form action="/confirm" method="post">
        <input type="submit" value="Confirm Order">
    </form>
 <!-- Trying to display the session information from the cart -->
    <h1>Welcome</h1>      
    {% if session['cart'] %}
      <h1>Welcome {{ session['cart'] }}!</h1>
    {% endif %}

    <footer>
        <div class="footerStyle">
          <div class="contact">
            <div>
              Conatact Information
            </div>
            <div>
              <!-- Email: rasmus.nordberg@icloud.com -->
            </div>
          </div>
          <div class="link">
            <div>
              Links
            </div>
          </div>
        </div>
      </footer>
</body>
</html>